<nav>
    <div class="site-title">
    <p><%=firstp%>  Blogsite! (Member page)</p>
     <!---->
     
            <h1>YOU ARE LOGGED IN</h1>
            <h2>Welcome, <%=account.email %></h2>
            <form action ="/logout" method ="POST">
                <button>Log out</button>
            </form>
</div>
<ul>
    
    <li><a href="/index">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/browse/<%=account._id%>">Browse</a></li>
    <li><a href="/create-blog/<%=account._id%>">Create Blog</a></li>
    <li><a href="/my-blogs/<%=account._id%>">Your Blogs</a></li>
    
</ul>
</nav>