<html lang ="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <% if(firstp==="Create a Blog!"){%>
            <%-include('./partials/nav2.ejs')%>
            <% var loggedIn = true %> 
        <%}else{ %>
            <%-include('./partials/nav.ejs')%>
            <% var loggedIn = false %> 
        <%  } %>

        
      
    
    
    <% if(loggedIn == true){ %> 
        <h1>Welcome <%=account.email%></h1>
    <div class = "create-blog">
        <form action ="/create-blog/<%=account._id%>" method ="POST">
            <label for="title">Title</label>
            <input type ="text" id="title" name="title" required>
            <label for="body">body</label>
            <textarea id="body" name="body" required>Write Something!</textarea>
            <button>create blog</button>
        </form>
    </div>
    <% } else{ %> 
        <h1>You must be logged in to create a blog</h1>
        <% } %>     

    </body>

    <%- include('./partials/footer.ejs') %>
</html>